<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <%= require('html-loader!./assets/html/head.html') %>
  </head>
  <body>

    <%= require('html-loader!./assets/html/navbar.html') %>


    <div class="container" id="add-account">


     <div class="whitespace-md"></div>


    <nav class="nav-group" id="add-account-menu">

        <span class="nav-group-item" v-on:click="clickButton('newaccount')">
          <span class="icon icon-plus-circled"></span>
          Create a New Ethereum Account
        </span>

        <span class="nav-group-item" v-on:click="clickButton('importaccount')">
          <span class="icon icon-down-circled"></span>
          Import an Ethereum Account
        </span>

      </nav>
    </div>


  </body>
</html>
