<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <%= require('html-loader!./assets/html/head.html') %>
  </head>
  <body>

    <%= require('html-loader!./assets/html/navbar.html') %>


    <div class="container" id="accounts">



      <div class="row">
       <div class="col s3">

         <h3>Accounts</h3>

         <nav class="nav-group accounts-group" id="accounts-menu">



           <span class="nav-group-item" v-for="(item, index) in accounts" v-on:click="selectAccount($event)" v-bind:data-address="item.address">
             <span class="icon " v-bind:class="{'icon-star': (item.address == selectedAddress),'icon-star-empty': (item.address != selectedAddress)}"></span>
             {{ item.address }}
           </span>

           <span class="nav-group-item" v-on:click="clickButton('addaccount')" v-if="accounts.length == 0">
             <span class="icon icon-plus-circled"></span>
             Add Account
           </span>

         </nav>

       </div>
       <div class="col s1">
       </div>
       <div class="col s8">

         <div class="whitespace-md"></div>

            <div class="row white-text quick-nav" v-if="tokenLoaded" v-cloak>
               <div class="col s4 teal lighten-2 hoverable">Overview</div>
               <div class="col s4 teal lighten-2 hoverable">Deposit</div>
               <div class="col s4 teal lighten-2 hoverable">Withdraw</div>
            </div>

             <div class="loading-container text-center"  v-if="(!tokenLoaded && selectedAddress)" v-cloak>
               <%= require('html-loader!./assets/html/preloader.html') %>
             </div>




            <ul class="collection" v-if="tokenLoaded" v-cloak>
             <li class="collection-item">
               <div class="selected-account-address" v-if="selectedAddress" v-cloak>
                   {{selectedAddress}}

                   <span class="copy-content icon icon-docs" v-on:click="copySelectedAddress()"> </span>
               </div>
             </li>
             <li class="collection-item">
               <div class="selected-account-balance" v-if="tokenBalance != null" v-cloak>
                   ETH Balance: {{ethBalance}}
               </div>
             </li>
             <li class="collection-item">
               <div class="selected-account-balance" v-if="tokenBalance != null" v-cloak>
                 Token Balance: {{tokenBalance}}
               </div>
             </li>

             <li class="collection-item">
               <div class="selected-account-balance" v-if="lavaBalance != null" v-cloak>
                 Lava Balance: {{lavaBalance}}
               </div>
             </li>
           </ul>



       </div>
     </div>

     <div class='flash-message absolute-bottom white-text teal text-center' v-if="flashMessage">
       {{flashMessage}}
     </div>

   </div>

  </body>
</html>
