<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <%= require('html-loader!./assets/html/head.html') %>
  </head>
  <body>



    <%= require('html-loader!./assets/html/navbar.html') %>

    <div class="overview build-background h12" >


    <div class="row h12">

        <div class="col s2 zeropad h12" id="filetree"   >



          <div class="audio-list background-darksteel white-text h12 border-right-black">
            <div class="titlebar text-center">
              Audio List
            </div>
            <div class="thin-list">
                <div class="audioFileContainer" >
                  <tree-menu
                    v-on:drag-audio-file="dragAudioFile"
                    :label="tree.label"
                    :nodes="tree.nodes"
                    :depth="0"
                  ></tree-menu>



                </div>




            </div>



          </div>


        </div>
        <div class="col s10 zeropad h12"  id="build" >
          <div class="background-sativa h6 border-bottom-black">

          </div>
          <div class="background-steel h6">

            <div class="pad-connect-container white-text h12 text-center">

              <div class="boss-container text-left">
                <div class="pad-config-cell background-darksteel drag-target" data-cell-id="1" >
                  ---
                </div>

              </div>



              <div class="whitespace-sm"></div>
              <div class="waves-effect waves-light btn gray-text hoverable clickable" v-on:click="clickButton('connect')" v-if="!connected">Connect to a Launchpad</div>
              <div class="waves-effect waves-light btn green gray-text hoverable clickable" v-on:click="clickButton('connect')" v-if="connected" v-cloak>Connected</div>
            </div>




          </div>
        </div>


    </div>


    </div>

  </body>
</html>
