
//https://flatuicolors.com/palette/us

.wrapper, html, body {
    height: 100%;
    margin: 0;
}


.pretty-navbar
{
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

[v-cloak] {display: none}

.titlebar
{
  padding:10px;
}

.quick-nav
{
  font-size: 1.5em;
  text-align:center;
}



.audio-list
{
  padding:5px;

}



//Helpers

.h12
{
    height:100%;
}

.h6
{
    height:50%;
}

.h3
{
    height:25%;
}

.vertical-flex {

  display: flex;
  flex-direction: column;

  div {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

}

.absolute-bottom
{
  position:absolute;
  bottom:10px;
  left:50px;
  padding:5px 15px;
}

.hoverable:hover
{
   opacity: 0.9;
}

.zeropad
{
  padding:0 !important;
}


.build-background
{

}




///Colors

.background-steel
{
  background-color: #4b4b4b;
}

.background-darksteel
{
  background-color: #3d3d3d;
}

.border-right-black
{
  border-right: 1px solid #222;
}


.border-bottom-black
{
  border-bottom: 1px solid #222;
}
