

.pretty-navbar
{
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

[v-cloak] {display: none}

.accounts-group
{
height: 300px;
overflow-y: auto;
}


.quick-nav
{
  font-size: 1.5em;
  text-align:center;
}

.hoverable:hover
{
   opacity: 0.9;
}
