
//https://flatuicolors.com/palette/us

.wrapper, html, body {
    height: 100%;
    margin: 0;
}


.pretty-navbar
{
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

[v-cloak] {display: none}

.titlebar
{
  padding:10px;
}

.quick-nav
{
  font-size: 1.5em;
  text-align:center;
}

.vranger {
   position: absolute;
   top: 50px;
   left: -50px;
   bottom:50px;
   width:100px;
 }
 .rotate270
 {
   transform: rotate(270deg);
  -moz-transform: rotate(270deg); /*do same for other browsers if required*/

 }

.audio-list
{
  padding:5px;


    overflow-y:auto;



}
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}



//Helpers

.h12
{
    height:100%;
}

.h8
{
    height:66%;
}

.h6
{
    height:50%;
}

.h4
{
    height:33%;
}

.h3
{
    height:25%;
}

.vertical-flex {

  display: flex;
  flex-direction: column;

  div {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

}

.relative
{
    position: relative;
}

.absolute-top
{
  position:absolute;
  top:10px;
  left:50px;
  padding:5px 15px;
}

.absolute-bottom
{
  position:absolute;
  bottom:10px;
  left:50px;
  padding:5px 15px;
}

.absolute-drag
{
  position:absolute;

  padding:5px 15px;
}

.hoverable:hover
{
   opacity: 0.9;
}

.clickable:hover
{
  cursor:pointer;
}


.zeropad
{
  padding:0 !important;
}

.boss-container
{
    padding: 1% 5%;

}

.pad-config-cell
{
  display: inline-block;
  padding: 5px 5px;
  margin: 2px 0px;
  width:12.5%;
  color:gray;
  white-space: nowrap;

  span{
  ///  width:100%;
    display:block;
  }

  .preloaded
  {
    color:white;
  }
}

.pad-config-cell:hover
{
  span
  {

    background-color: #333;
    display:inline-block;
    //overflow:hidden;
  }

  span.empty
  {
    width:100%;
  }

}

.missing-files
{
  color:red ;
}


.tree-menu {
  .label-wrapper {
    padding-bottom: 2px;
    margin-bottom: 2px;
  //  border-bottom: 1px solid #ccc;
    .has-children {
      cursor: pointer;
    }
  }

  .label-wrapper:hover {
    background: rgba(1,1,1,0.2);
  }
}


///Colors
.background-skulls
{
  background: url('/assets/img/skulls.png')
}

.background-sativa
{
  background: url('/assets/img/sativa.png')
}

.background-steel
{
  background-color: #313131;
}

.background-darksteel
{
  background-color: #3d3d3d;
}

.border-right-black
{
  border-right: 1px solid #222;
}


.border-bottom-black
{
  border-bottom: 1px solid #222;
}
.gray-text
{
  color: #333;
}
